In [1]:
import os
import sys
import numpy as np
import pandas as pd
import scanpy as sc
from anndata import AnnData

In [28]:
path="/ps/ai-ready/data/tung/molecules.txt"
adata=sc.read_text(path)
adata

AnnData object with n_obs × n_vars = 19027 × 864

In [3]:
adata.X

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  1.,  0.],
       [ 3.,  6.,  1., ...,  0.,  2.,  2.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  1.,  1.,  0.],
       [38., 31., 26., ..., 11., 20., 21.]], dtype=float32)

In [36]:
annotation=pd.read_csv("/ps/ai-ready/data/tung/annotation.txt", sep="\t")
annotation

    individual replicate well       batch       sample_id
0      NA19098        r1  A01  NA19098.r1  NA19098.r1.A01
1      NA19098        r1  A02  NA19098.r1  NA19098.r1.A02
2      NA19098        r1  A03  NA19098.r1  NA19098.r1.A03
3      NA19098        r1  A04  NA19098.r1  NA19098.r1.A04
4      NA19098        r1  A05  NA19098.r1  NA19098.r1.A05
..         ...       ...  ...         ...             ...
859    NA19239        r3  H08  NA19239.r3  NA19239.r3.H08
860    NA19239        r3  H09  NA19239.r3  NA19239.r3.H09
861    NA19239        r3  H10  NA19239.r3  NA19239.r3.H10
862    NA19239        r3  H11  NA19239.r3  NA19239.r3.H11
863    NA19239        r3  H12  NA19239.r3  NA19239.r3.H12

[864 rows x 5 columns]

In [35]:
adata.var
# type(adata.var)

Empty DataFrame
Columns: []
Index: [NA19098.r1.A01, NA19098.r1.A02, NA19098.r1.A03, NA19098.r1.A04, NA19098.r1.A05, NA19098.r1.A06, NA19098.r1.A07, NA19098.r1.A08, NA19098.r1.A09, NA19098.r1.A10, NA19098.r1.A11, NA19098.r1.A12, NA19098.r1.B01, NA19098.r1.B02, NA19098.r1.B03, NA19098.r1.B04, NA19098.r1.B05, NA19098.r1.B06, NA19098.r1.B07, NA19098.r1.B08, NA19098.r1.B09, NA19098.r1.B10, NA19098.r1.B11, NA19098.r1.B12, NA19098.r1.C01, NA19098.r1.C02, NA19098.r1.C03, NA19098.r1.C04, NA19098.r1.C05, NA19098.r1.C06, NA19098.r1.C07, NA19098.r1.C08, NA19098.r1.C09, NA19098.r1.C10, NA19098.r1.C11, NA19098.r1.C12, NA19098.r1.D01, NA19098.r1.D02, NA19098.r1.D03, NA19098.r1.D04, NA19098.r1.D05, NA19098.r1.D06, NA19098.r1.D07, NA19098.r1.D08, NA19098.r1.D09, NA19098.r1.D10, NA19098.r1.D11, NA19098.r1.D12, NA19098.r1.E01, NA19098.r1.E02, NA19098.r1.E03, NA19098.r1.E04, NA19098.r1.E05, NA19098.r1.E06, NA19098.r1.E07, NA19098.r1.E08, NA19098.r1.E09, NA19098.r1.E10, NA19098.r1.E11, NA19098.r1.E12, NA19098.r1.F01, NA19098.r1.F02, NA19098.r1.F03, NA19098.r1.F04, NA19098.r1.F05, NA19098.r1.F06, NA19098.r1.F07, NA19098.r1.F08, NA19098.r1.F09, NA19098.r1.F10, NA19098.r1.F11, NA19098.r1.F12, NA19098.r1.G01, NA19098.r1.G02, NA19098.r1.G03, NA19098.r1.G04, NA19098.r1.G05, NA19098.r1.G06, NA19098.r1.G07, NA19098.r1.G08, NA19098.r1.G09, NA19098.r1.G10, NA19098.r1.G11, NA19098.r1.G12, NA19098.r1.H01, NA19098.r1.H02, NA19098.r1.H03, NA19098.r1.H04, NA19098.r1.H05, NA19098.r1.H06, NA19098.r1.H07, NA19098.r1.H08, NA19098.r1.H09, NA19098.r1.H10, NA19098.r1.H11, NA19098.r1.H12, NA19098.r2.A01, NA19098.r2.A02, NA19098.r2.A03, NA19098.r2.A04, ...]

[864 rows x 0 columns]

In [8]:
adata.obs

Empty DataFrame
Columns: []
Index: [ENSG00000237683, ENSG00000187634, ENSG00000188976, ENSG00000187961, ENSG00000187583, ENSG00000187642, ENSG00000188290, ENSG00000187608, ENSG00000188157, ENSG00000237330, ENSG00000131591, ENSG00000162571, ENSG00000186891, ENSG00000186827, ENSG00000078808, ENSG00000176022, ENSG00000184163, ENSG00000160087, ENSG00000162572, ENSG00000131584, ENSG00000169972, ENSG00000127054, ENSG00000224051, ENSG00000169962, ENSG00000107404, ENSG00000162576, ENSG00000175756, ENSG00000221978, ENSG00000224870, ENSG00000242485, ENSG00000235098, ENSG00000205116, ENSG00000179403, ENSG00000215915, ENSG00000160072, ENSG00000197785, ENSG00000205090, ENSG00000160075, ENSG00000215014, ENSG00000228594, ENSG00000197530, ENSG00000189409, ENSG00000248333, ENSG00000189339, ENSG00000008128, ENSG00000215790, ENSG00000008130, ENSG00000078369, ENSG00000169885, ENSG00000178821, ENSG00000142609, ENSG00000187730, ENSG00000067606, ENSG00000162585, ENSG00000269554, ENSG00000203301, ENSG00000157933, ENSG00000116151, ENSG00000269753, ENSG00000157916, ENSG00000157911, ENSG00000149527, ENSG00000157881, ENSG00000197921, ENSG00000157873, ENSG00000157870, ENSG00000142606, ENSG00000215912, ENSG00000169717, ENSG00000142611, ENSG00000130762, ENSG00000162591, ENSG00000158109, ENSG00000116213, ENSG00000078900, ENSG00000162592, ENSG00000235169, ENSG00000130764, ENSG00000116198, ENSG00000169598, ENSG00000198912, ENSG00000196581, ENSG00000131697, ENSG00000069424, ENSG00000268332, ENSG00000116254, ENSG00000116251, ENSG00000158286, ENSG00000116237, ENSG00000173673, ENSG00000158292, ENSG00000097021, ENSG00000069812, ENSG00000187017, ENSG00000215788, ENSG00000171680, ENSG00000162408, ENSG00000173662, ENSG00000204859, ENSG00000162413, ...]

[19027 rows x 0 columns]